.text-center
  %img.d-block.mx-auto.mb-4{:alt => "", :height => "72", :src => "https://img.icons8.com/external-justicon-lineal-justicon/64/000000/external-inventory-business-management-justicon-lineal-justicon.png", :width => "72"}/
  %h2 Edit Inventory Item
  %p.lead Apply changes to selected Inventory Item.
= render 'form', inventory_item: @inventory_item
= link_to 'Show', @inventory_item
|
= link_to 'Back', inventory_items_path
