.text-center
  %img.d-block.mx-auto.mb-4{:alt => "", :height => "72", :src => "https://www.pinclipart.com/picdir/middle/339-3394338_svg-free-download-onlinewebfonts-transparent-store-icon-png.png", :width => "95"}/
  %h2 New Customer
  %p.lead Add a Customer to assign Quotes and Purchase Orders.
= render 'form', customer: @customer
