#footer.d-flex.flex-column.flex-md-row.text-center.text-md-start.justify-content-between.py-3.px-3.px-xl-3.bg-primary
  / Copyright
  .text-white.mb-3.mb-md-0
    Better CRM© #{DateTime.now.year}. All rights reserved.
  / Copyright
  / Right
  %div
    %a.text-white.me-4{:href => "#!"}
      %i.fab.fa-facebook-f
    %a.text-white.me-4{:href => "#!"}
      %i.fab.fa-twitter
    %a.text-white.me-4{:href => "#!"}
      %i.fab.fa-google
    %a.text-white{:href => "#!"}
      %i.fab.fa-linkedin-in
  / Right
