.text-center
  %img.d-block.mx-auto.mb-4{:alt => "", :height => "72", :src => "https://www.pinclipart.com/picdir/middle/339-3390694_drive-license-free-icon-customer-account-clipart.png", :width => "95"}/
  %h2 New Account
  %p.lead Add an account to organize Customers, Items, Quotes and Purchase Orders
= render 'form', account: @account
